<% if current_user %>
<h1>Users</h1>
  <ul>
    <% @users.each do |user| %>
    <li><%= user.email %> - <%= user.password_digest %> - <%= user.name %> </li>
<% end %>
  </ul>

  <form action="/logout" method="post">
    <input name="_method" value="DELETE" type="hidden">
    <button>Logout</button>
  </form>
<% else %>
    <h2 class=intro>Bringing future, present and past General Assembly students together <br></h2>
    <h6 class="intro submit"> Please log in </h6>
<% end %>
