<h1>Sign Up</h1>

<form action="/signup" method="post">
  <label>Name</label>
  <input name="name" type="name" placeholder="Name">
  <br>
  <label>Email</label>
  <input name="email" type="email" placeholder="Email">
  <br>
  <label>Password</label>
  <input name="password" type="password" placeholder="Password">
  <br>
  <label>Password Confirmation</label>
  <input name="password_confirmation" type="password" placeholder="Password Confirmation">
  <br>
  <label>GA Status</label>
  <select name="course">
  <option value="current student">current student</option>
  <option value="future student">future student</option>
  <option value="graduate">graduate</option>
  </select>
  <br>
  <button>Sign Up</button>
</form>
