// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}


.intro {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table-responsive.table-striped {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.user {
  font-size: 25px;
  font-weight: bolder;
}

.submit {
  padding-top: 15px;
}
